name: build-mac

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build-mac:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          python -m pip install pyinstaller

      - name: Build app
        run: |
          pyinstaller --windowed --name "9retboards" 9retboards.py

      - name: Zip app
        run: |
          cd dist
          ditto -c -k --sequesterRsrc --keepParent "9retboards.app" "9retboards-mac.zip"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: 9retboards-mac
          path: dist/9retboards-mac.zip
